@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1a14;
}
::-webkit-scrollbar-thumb {
  background: #40392b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c7a15c;
}

/* Custom Animations */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

.batik-overlay {
  background-color: #1e1a14;
  opacity: 1;
  background-image:
    radial-gradient(#c7a15c 0.75px, transparent 0.75px),
    radial-gradient(#c7a15c 0.75px, #1e1a14 0.75px);
  background-size: 30px 30px;
  background-position:
    0 0,
    15px 15px;
}
